* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background: white;
}

.button {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}
.button--primary {
  background-color: #f53838;
  color: #ffffff;
  box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
}
.button--outline {
  color: #f53838;
  border: 2px solid;
  background-color: transparent;
}
.button--big {
  border-radius: 10px;
  padding: 17.5px 77.5px;
}
.button--small {
  padding: 13px 63px;
  border-radius: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0b132a;
  font-weight: 700;
}

.heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}

.header {
  padding-top: 50px;
  padding-bottom: 90px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header .signin {
  font-weight: 500;
  color: #0b132a;
}
.header .signup {
  font-weight: 500;
  padding: 13px 45px;
  border-radius: 50px;
  color: #f53855;
  border: 1px solid;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.menu-link {
  color: inherit;
}

.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  position: relative;
}
.hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-heading {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 70px;
  color: #0b132a;
}
.hero-desc {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;
}
.hero-desc strong {
  font-weight: 500;
}
.hero-image {
  position: absolute;
  right: 0;
  transform: translateX(40px);
}

.intro {
  margin-bottom: 95px;
}
.intro-container {
  display: flex;
  border-radius: 10px;
  background-color: white;
  padding: 37px 0;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
  min-height: 200px;
}
.intro-item {
  width: 33.3333333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 36.5px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}
.intro-title {
  font-size: 25px;
  margin-bottom: 5px;
  line-height: 30px;
}
.intro-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.features {
  padding-bottom: 130px;
}
.features-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0 170px;
}
.features-content {
  width: 100%;
  max-width: 428px;
}
.features-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}
.features-list {
  list-style: none;
}
.features-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.features-item img {
  margin-right: 10px;
}
.features-item:nth-child(4) {
  margin-bottom: 0;
}

.plan {
  padding: 80px 0 150px;
}
.plan-header {
  width: 100%;
  max-width: 555px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.plan-desc {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
.plan-lists {
  display: flex;
  gap: 0 50px;
  justify-content: center;
}
.plan-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 80px 70px 50px 70px;
}
.plan-image {
  margin-bottom: 30px;
}
.plan-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 30px;
}
.plan-details {
  list-style: none;
  margin-bottom: 50px;
  height: 100%;
  max-height: 230px;
}
.plan-price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}
.plan-price span {
  font-weight: 400;
  color: #4f5665;
}
.plan-info {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  align-items: center;
}
.plan-info img {
  margin-right: 20px;
}
.plan-item.active,
.plan-item:hover {
  border: 2px solid #f53838;
}
.plan-item.active .button,
.plan-item:hover .button {
  background-color: #f53838;
  color: white;
}

.network {
  padding-bottom: 50px;
}
.network-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.network-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.network-desc strong {
  font-weight: 500;
}
.network-heading {
  width: 100%;
  max-width: 383px;
  margin: 0 auto 20px;
}
.network-header {
  text-align: center;
  margin-bottom: 155px;
  width: 100%;
  max-width: 555px;
}
.network-image {
  padding-bottom: 30px;
}

.customer {
  padding-bottom: 65px;
}
.customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.customer-heading {
  width: 100%;
  max-width: 447px;
  margin: 0 auto 20px;
}
.customer-header {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
  max-width: 555px;
}
.customer-text {
  font-size: 16px;
  line-height: 30px;
}
.customer-list {
  display: flex;
  gap: 0 45px;
}
.customer-item {
  width: 100%;
  max-width: 400px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  padding: 30px;
}
.customer-top {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-info {
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.customer-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
.customer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.customer-avatar {
  width: 50px;
  height: 50px;
}
.customer-rating {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.subscribe {
  margin-bottom: 63.5px;
}
.subscribe-container {
  display: flex;
  align-items: center;
  gap: 0 380px;
  padding: 58.5px 70px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
}
.subscribe-header {
  width: 100%;
  max-width: 370px;
}
.subscribe-heading {
  line-height: 45px;
}
.subscribe-desc {
  font-size: 16px;
}
.subscribe .button {
  padding: 17.5px 65px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}

.footer {
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 0 229px;
}
.footer-lasles {
  width: 100%;
  max-width: 340px;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-text {
  line-height: 30px;
  margin-bottom: 30px;
}
.footer-text strong {
  font-weight: 500;
}
.footer-rights {
  margin-top: 30px;
  color: #afb5c0;
}
.footer-rights strong {
  font-weight: 500;
}
.footer-menu {
  display: flex;
  gap: 0 126px;
}
.footer-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.footer-list {
  list-style: none;
}
.footer-item {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-button {
  margin-right: 20px;
}
.footer-button img {
  width: 33.6px;
  height: 33.6px;
}

/*# sourceMappingURL=app.css.map */
